<div class="form-row">
    <label for="node{{#if config}}-config{{/if}}-input-{{property}}"><i class="{{#if icon }}{{icon}}{{/if}}"></i> {{label}}</label>
    <input type="{{#if type }}{{type}}{{else}}text{{/if}}" id="node{{#if config}}-config{{/if}}-input-{{property}}" placeholder="{{placeholder}}">
</div>